* {
  box-sizing: border-box;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
}

body {
  max-width: 900px;
  margin: auto;
  color: lightgray;
  display: ;
}

.cat-column {
  display: inline-block;
  float: left;
  width: calc(33.333% - 20px);
  margin: 10px;
  border-bottom: 1px solid lightgray;
}

.octocats {
  float: left;
  width: 100%;
  border: 1px solid lightgray;
}

.number {
  float: left;
}

.created {
  float: right;
  padding-right: 5px;
}

.avatar {
  width: 20px;
  vertical-align: middle;
}

span {
  color: black;
}
